<!doctype html>
<html>
   <body>
      <h1> Display Room </h1>
         <h3> ALL GIFS </h3>
         
         <form action = "http://localhost:80/allvideos" method = "get">
            <p><input type = "submit" value = "To control Room" /></p>
         </form>
      
         <form action = "http://localhost:80/deleteall" method = "post">
            <p><input type = "submit" value = "Delete All GIFs" style ="background-color:red"/></p>
         </form>
         
         <table>
              {% for input in inputs %}
               <tr>
              
                  <th>
                            <img src="http://localhost:9000/{{bucket}}/{{input}}" alt="{{input}}">
                  </th>
                  <th>
                     <h4> {{input}} </h4>
                  </th>
                  <th>
                     <form action = "http://localhost:80/delete" method = "post">
                        <p><input type = "submit" value = "Delete GIF" style ="background-color:red"/></p>
                     </form>
                  </th>
               </tr>
      
              {% endfor %}
         </table>
   </body>
</html>